{% extends 'base.html' %}

{% block title %}Inicio - SocialNetwork{% endblock %}

{% block content %}
<div class="bg-white shadow rounded p-8">
    <h1 class="text-3xl font-bold mb-2">¡Hola Villano!</h1>
    <p class="text-gray-600 mb-4">Una red social para estudiantes del instituto.</p>
      <p class="text-gray-600 mb-4">Aca podes decir la posta en total anonimato.</p>
    <div class="flex gap-3">
        <a class="px-4 py-2 rounded bg-blue-600 text-white hover:bg-blue-700" href="{% url 'main:lista_usuarios' %}">Ver Usuarios</a>
        <a class="px-4 py-2 rounded bg-green-600 text-white hover:bg-green-700" href="{% url 'main:lista_carreras' %}">Ver Carreras</a>
    </div>
</div>
{% endblock %}
